.content {
    display: flex;
    flex-direction: column;
    align-items: center;
 
    margin-bottom: 20px;
  }

  .qrcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .input-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    text-overflow: ellipsis;
    overflow: inherit;
    box-sizing: border-box;
    place-content: center;
  }

  .gridqr {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    margin: auto;
    /* padding-bottom: 30px; */
    align-items: center;
    margin-top: 30px;
  }

  .transparent-background {
    background: transparent !important;
  }
  
  body.scanner-active {
    --background: transparent;
    --ion-background-color: transparent;
  }


  